<div class="row">
   <div class="column">
      <h1>Scrape Complete!</h1>
      <h4>Click Home To See Books</h4>
      <button class="btn btn-primary" onclick="location.href = './'">Home</button>
   </div>

</div>